<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>

    <appSettings>
        <add key="ATLASCON" value="Data Source=192.168.3.100;Initial Catalog=ErpProject;Persist Security Info=True;User ID=sa;Password=Qazwsx123;ConnectRetryCount=3;ConnectRetryInterval=2" />
        <add key="LOGOCON" value="Data Source=192.168.3.100;Initial Catalog=TIGERDB;Persist Security Info=True;User ID=sa;Password=Qazwsx123;ConnectRetryCount=3;ConnectRetryInterval=2;" />
        <add key="BORNCON" value="Data Source=192.168.3.100;Initial Catalog=Born.Ipek;Persist Security Info=True;User ID=sa;Password=123456;ConnectRetryCount=3;ConnectRetryInterval=2" />
    
		<add key="FIRMA_ADI" value="IPEK" />
		<add key="ATLASDB" value="ErpProject" />
        <add key="LOGODB" value="TIGERDB" />
        <add key="BORNDB" value="Born.Ipek" />
        
        <add key="LOGOUSER" value="ADIMYAZILIM" />
        <add key="LOGOPASS" value="ADMLOGO" />
        <add key="FIRMANO" value="105" />
        <add key="FIRMADONEM" value="01" />
        <add key="AMBAR" value="0" />
        <add key="ISYERI" value="5" />
        
        <add key="AKTARILDIKEY" value="AKTARILDI" />
    </appSettings>
</configuration>