<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>

    <appSettings>
        <add key="ATLASCON" value="Data Source=192.168.0.249;Initial Catalog=ErpProject;Persist Security Info=True;User ID=sa;Password=1234" />
        <add key="LOGOCON" value="Data Source=192.168.0.249;Initial Catalog=TIGER;Persist Security Info=True;User ID=sa;Password=1234" />
        <add key="BORNCON" value="Data Source=192.168.0.249;Initial Catalog=Born.Kayseri;Persist Security Info=True;User ID=sa;Password=123456" />
    
		<add key="ATLASDB" value="ErpProject" />
        <add key="LOGODB" value="TIGER" />
        <add key="BORNDB" value="Born.Kayseri" />
        
        <add key="LOGOUSER" value="LOGO" />
        <add key="LOGOPASS" value="sukrubyz" />
        <add key="FIRMANO" value="077" />
        <add key="FIRMADONEM" value="01" />
        
        <add key="AKTARILDIKEY" value="AKTARILDI" />
    </appSettings>
</configuration>